
.flex-row { display: flex; flex-direction: row; }
.flex-row-reverse { display: flex; flex-direction: row-reverse }

.flex-col { display: flex; flex-direction: column; }
.flex-col-reverse { display: flex; flex-direction: column-reverse }

.flex-center { justify-content: center; align-items: center; }

.justify-start   { justify-content: flex-start }
.justify-end     { justify-content: flex-end }
.justify-center  { justify-content: center }
.justify-between { justify-content: space-between }
.justify-around  { justify-content: space-around }
.justify-evenly  { justify-content: space-evenly }

.items-start     { align-items: flex-start }
.items-end       { align-items: flex-end }
.items-center    { align-items: center }
.items-stretch   { align-items: stretch }

.self-start      { align-self: flex-start }
.self-end        { align-self: flex-end }
.self-center     { align-self: center }
.self-stretch    { align-self: stretch }

.content-start   { align-content: flex-start }
.content-end     { align-content: flex-end }
.content-center  { align-content: center }
.content-between { align-content: space-between }
.content-around  { align-content: space-around }
.content-stretch { align-content: stretch }

@each $bp, $width in $breakpoints {

  @media (min-width: #{$width}) {

    .#{$bp}\:flex-row        { display: flex; flex-direction: row; }
    .#{$bp}\:flex-col        { display: flex; flex-direction: column; }
    .#{$bp}\:flex-center     { justify-content: center; align-items: center; }

    .#{$bp}\:justify-start   { justify-content: flex-start }
    .#{$bp}\:justify-end     { justify-content: flex-end }
    .#{$bp}\:justify-center  { justify-content: center }
    .#{$bp}\:justify-between { justify-content: space-between }
    .#{$bp}\:justify-around  { justify-content: space-around }
    .#{$bp}\:justify-evenly  { justify-content: space-evenly }

    .#{$bp}\:items-start     { align-items: flex-start }
    .#{$bp}\:items-end       { align-items: flex-end }
    .#{$bp}\:items-center    { align-items: center }
    .#{$bp}\:items-stretch   { align-items: stretch }

    .#{$bp}\:self-start      { align-self: flex-start }
    .#{$bp}\:self-end        { align-self: flex-end }
    .#{$bp}\:self-center     { align-self: center }
    .#{$bp}\:self-stretch    { align-self: stretch }

    .#{$bp}\:content-start   { align-content: flex-start }
    .#{$bp}\:content-end     { align-content: flex-end }
    .#{$bp}\:content-center  { align-content: center }
    .#{$bp}\:content-between { align-content: space-between }
    .#{$bp}\:content-around  { align-content: space-around }
    .#{$bp}\:content-stretch { align-content: stretch }
  }
}

.flex-wrap { flex-wrap: wrap }
.flex-auto { flex: 1 1 auto }
.flex-none { flex: none }

.order-0     { order: 0 }
.order-1     { order: 1 }
.order-2     { order: 2 }
.order-3     { order: 3 }
.order-first { order: -1 }
.order-last  { order: 9999 }
