
.static   { position: static }
.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.pos-top    { top: 0 }
.pos-right  { right: 0 }
.pos-bottom { bottom: 0 }
.pos-left   { left: 0 }

@each $bp, $width in $breakpoints {

  @media (min-width: #{$width}) {

    .#{$bp}\:static   { position: static }
    .#{$bp}\:relative { position: relative }
    .#{$bp}\:absolute { position: absolute }
    .#{$bp}\:fixed    { position: fixed }

    .#{$bp}\:pos-top    { top: 0; bottom: auto; }
    .#{$bp}\:pos-right  { right: 0; left: auto; }
    .#{$bp}\:pos-bottom { bottom: 0; top: auto; }
    .#{$bp}\:pos-left   { left: 0; right: auto; }
  }
}

.fill   { width: 100%; height: 100%; }
.fill-x { width: 100% }
.fill-y { height: 100% }

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.center-x {
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  top: 50%;
  transform: translateY(-50%);
}

.z0  { z-index: 0 }
.z1  { z-index: 100 }
.z2  { z-index: 200 }
.z3  { z-index: 300 }
.z4  { z-index: 400 }
.z5  { z-index: 500 }
.z6  { z-index: 600 }
.z7  { z-index: 700 }
.z8  { z-index: 800 }
.z9  { z-index: 900 }
.z10 { z-index: 1000 }
