
:root {
  --spacing-unit: 1em;
  --spacing-scale: 1.5;
  --spacing-1: calc(var(--spacing-unit) / var(--spacing-scale));
  --spacing-2: calc(var(--spacing-unit) * var(--spacing-scale));
  --spacing-3: calc(var(--spacing-unit) * var(--spacing-scale) * var(--spacing-scale));
  --spacing-4: calc(var(--spacing-unit) * var(--spacing-scale) * var(--spacing-scale) * var(--spacing-scale));
  --spacing-5: calc(var(--spacing-unit) * var(--spacing-scale) * var(--spacing-scale) * var(--spacing-scale) * var(--spacing-scale));
}

.m-auto  { margin: auto }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }

@mixin spacing($bp: '') {

  $prefix: '';
  @if ($bp != '') { $prefix: '#{$bp}\\:'; }

  @for $i from 0 through 5 {

    $value: 0;
    @if ($i != 0) { $value: var(--spacing-#{$i}); }

    .#{$prefix}m-#{$i}  { margin: $value }
    .#{$prefix}mt-#{$i} { margin-top: $value }
    .#{$prefix}mr-#{$i} { margin-right: $value }
    .#{$prefix}mb-#{$i} { margin-bottom: $value }
    .#{$prefix}ml-#{$i} { margin-left: $value }
    .#{$prefix}mx-#{$i} { margin-left: $value; margin-right: $value; }
    .#{$prefix}my-#{$i} { margin-top: $value; margin-bottom: $value; }

    .#{$prefix}p-#{$i}  { padding: $value }
    .#{$prefix}pt-#{$i} { padding-top: $value }
    .#{$prefix}pr-#{$i} { padding-right: $value }
    .#{$prefix}pb-#{$i} { padding-bottom: $value }
    .#{$prefix}pl-#{$i} { padding-left: $value }
    .#{$prefix}px-#{$i} { padding-left: $value; padding-right: $value; }
    .#{$prefix}py-#{$i} { padding-top: $value; padding-bottom: $value; }
  }
}

@include spacing();

@each $bp, $width in $breakpoints {
  @media (min-width: #{$width}) {
    @include spacing($bp);
  }
}