.btn {
  @include no-select;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0.625em 1.5em;
  font-size: 1rem;
  font-family: $font-heading;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  background-color: $color-primary;
  border-radius: 5px;
  border: 0;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn:hover {
  color: #FFF;
  background-color: #555;
  text-decoration: none;
}
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}
