.btn {
  @include no-select;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0.625em 1.5em;
  font-size: 1rem;
  font-family: $font-heading;
  line-height: 1;
  color: $color-white;
  background-color: $color-black;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn:hover,
.btn:focus {
  color: #FFF;
  background-color: lighten($color-black,15);
  text-decoration: none;
}
.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
