
.nav {
  @include center-y;
  left: auto;
  right: $container-padding;
}
.nav__item {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.nav__item > a {
  text-transform: uppercase;
}

.nav-toggle {
  display: none;
}

@media (min-width: $lg) {

  .nav-toggle {
    @include center-y;
    right: $container-padding;
  }
}