.site-footer {
  color: #FFF;
  background: #043;
  text-align: center;
}

.footer-primary {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.footer-secondary {
  font-size: 0.8em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: #151515;
}