
.container {
  width: 100%;
  max-width: $container-width + ($container-padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-left: var(--container-padding);
  padding-right: $container-padding;
  padding-right: var(--container-padding);
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -#{$column-margin};
  margin-right: -#{$column-margin};
}

.col {
  width: calc(100% - #{$column-gap});
  margin-left: #{$column-margin};
  margin-right: #{$column-margin};
}

@include cols();

@media only screen and (min-width: $sm) {
  @include cols('-sm');
}

@media only screen and (min-width: $md) {
  @include cols('-md');
}

@media only screen and (min-width: $lg) {
  @include cols('-lg');
}

@media only screen and (min-width: $xl) {
  @include cols('-xl');
}