
.content {

  *:first-child { margin-top: 0; }
  *:last-child  { margin-bottom: 0; }

  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 1em;
  }

  h2, h3 {
    margin-bottom: var(--space-xs);
  }

  a {
    transition: color 0.125s;
  }

  ul, ol {
    margin: 1.5em 0 1.5em 2em;
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: 0.5em;
  }
}