
body {
  font-family: $font-body;
  line-height: 1.4;
  color: $color-text;
  background-color: $color-bg;
  overflow-x: hidden;
}

p {
  margin-bottom: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: $color-link;
  text-decoration: none;
  line-height: inherit;
  outline: 0;
  transition: color 0.125s;
}
a:hover {
  color: $color-link-hover;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}
em, i {
  font-style: italic;
  line-height: inherit;
}
small {
  font-size: 80%;
}

hr {
  clear: both;
  width: 100%;
  height: 1px;
  margin: 2.5rem 0;
  margin: var(--space-3) 0;
  line-height: 0;
  border: none;
  background-color: $color-line;
}