
body {
  font-size: var(--font-size);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  color: $color-text;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: var(--space-sm);
}
h1, .h1 {
  font-size: var(--text-xxl);
  font-family: var(--font-secondary);
  margin-bottom: var(--space-md);
}
h2, .h2 {
  font-size: var(--text-xl);
  font-family: var(--font-secondary);
  margin-bottom: var(--space-sm);
}
h3, .h3 {
  font-size: var(--text-lg);
  font-family: var(--font-secondary);
}
h4, .h4 {
  font-size: var(--text-md);
  font-family: var(--font-secondary);
}

p {
  margin-bottom: var(--space-sm);
}
p:last-child {
  margin-bottom: 0;
}

ol, ul {
  list-style: none;
}

a {
  color: $color-link;
  text-decoration: none;
  line-height: inherit;
  outline: 0;
}
a:hover {
  color: $color-link-hover;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

small {
  font-size: var(--text-sm);
}

hr {
  clear: both;
  width: 100%;
  height: 1px;
  margin: var(--space-md) 0;
  background-color: $color-line;
  line-height: 0;
  border: none;
}