
input:not([type="checkbox"]),
input:not([type="radio"]),
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button { -webkit-appearance: none; }
}
button {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
  resize: vertical;
}