
.container {
  width: 100%;
  max-width: $container-width;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
}