
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin clearfix {
  &:before, &:after { content: ''; display: table; }
  &:after { clear: both; }
}

@mixin fill {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin fluid($property, $map) {

  $length: length(map-keys($map));
  $map: map-sort($map);
  $keys: map-keys($map);

  #{$property}: map-get($map, nth($keys,1));

  @for $i from 1 through ($length - 1) {

    @media (min-width:nth($keys,$i)) {

      $value1: map-get($map, nth($keys,$i));
      $value2: map-get($map, nth($keys,($i + 1)));

      @if ($value1 != $value2) {
        #{$property}: linear-interpolation((nth($keys,$i): $value1, nth($keys,($i+1)): $value2));
      } @else {
        #{$property}: $value1;
      }
    }
  }

  @media (min-width:nth($keys,$length)) {
    #{$property}: map-get($map, nth($keys,$length));
  }
}

@mixin font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {

  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin inline-list {
  list-style: none;
  li { display: inline-block; }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@mixin placeholder {
  $placeholders: ':-webkit-input' ':-moz' '-moz' ':-ms-input' '-ms-input' ':placeholder';
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder { @content; }
  }
}

@mixin ratio($width, $height) {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  body { // IE
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}