
$font-body: 'Open Sans', sans-serif;
$font-heading: 'PT Serif', serif;

$container-width: 1200px;
$container-padding: 20px;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

$breakpoints: (
  xs: 'min-width: #{$xs}',
  sm: 'min-width: #{$sm}',
  md: 'min-width: #{$md}',
  lg: 'min-width: #{$lg}',
  xl: 'min-width: #{$xl}',
);

$color-black: #000;
$color-white: #FFF;
$color-red: #F00;
$color-primary: #BADA55;
$color-bg: #FFF;
$color-text: #333;
$color-line: rgba($color-text,0.25);
$color-link: $color-primary;
$color-link-hover: lighten($color-primary,10);

$colors: (
  black: $color-black,
  white: $color-white,
  red: $color-red,
  primary: $color-primary,
);

:root {

  --font-size: 1em;
  --font-body: #{$font-body};
  --font-heading: #{$font-heading};
  --line-height: 1.4;

  // TODO: move these to helpers/text?
  // --text-scale: 1.333; // http://type-scale.com/
  // --text-sm:  calc(1em / var(--text-scale));
  // --text-md:  calc(1em * var(--text-scale));
  // --text-lg:  calc(1em * var(--text-scale) * var(--text-scale));
  // --text-xl:  calc(1em * var(--text-scale) * var(--text-scale) * var(--text-scale));
  // --text-xxl: calc(1em * var(--text-scale) * var(--text-scale) * var(--text-scale) * var(--text-scale));

  --container-width: #{$container-width};
  --container-padding: #{$container-padding};

  @media (min-width: 480px) {
    --text-scale: 1.414;
  }

  @media (min-width: 768px) {
    --font-size: 1.0625em;
  }

  @media (min-width: 1024px) {
    --font-size: 1.125em;
  }
}