
$col-count: 12;
$col-gap: 20px;
$col-margin: $col-gap / 2;

// TODO: allow for responsive col spacing via custom properties?
// :root {
//   --col-gap: $col-gap,
//   --col-margin: $col-margin,
// }

@mixin cols($prefix: '', $count: $col-count, $gap: $col-gap, $margin: $col-margin) {

  @if ($prefix != '') {
    $prefix: '#{$prefix}\\:';
  }

  @for $i from 1 through $count {
    $width: percentage($i / $count);
    .#{$prefix}col-#{$i}        { width: calc(#{$width} - #{$gap}) }
    .#{$prefix}col-offset-#{$i} { margin-left: calc(#{$width} + #{$margin}) }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$col-margin};
  margin-right: -#{$col-margin};
}

[class*="col-"] {
  width: calc(100% - #{$col-gap});
  margin-left: #{$col-margin};
  margin-right: #{$col-margin};
}

@include cols();

@each $prefix, $query in $breakpoints {
  @media ($query) {
    @include cols($prefix);
  }
}