
@each $name, $color in $colors {

  .bg-#{$name} {
    background-color: #{$color}
  }
  .border-#{$name} {
    border-color: #{$color}
  }
  .color-#{$name} {
    color: #{$color}
  }

  // .hover\:bg-#{$name} {
  //   background-color: #{$color}
  // }
  // .hover\:border-#{$name} {
  //   border-color: #{$color}
  // }
  // .hover\:color-#{$name} {
  //   color: #{$color}
  // }
}