
:root {
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 4rem;
  --spacing-5: 8rem;
}

@mixin spacing($prefix: '') {

  @if ($prefix != '') {
    $prefix: '#{$prefix}\\:';
  }

  @for $i from 0 through 5 {

    $value: 0;
    @if ($i != 0) { $value: var(--spacing-#{$i}); }

    .#{$prefix}m-#{$i}  { margin: $value }
    .#{$prefix}mt-#{$i} { margin-top: $value }
    .#{$prefix}mr-#{$i} { margin-right: $value }
    .#{$prefix}mb-#{$i} { margin-bottom: $value }
    .#{$prefix}ml-#{$i} { margin-left: $value }
    .#{$prefix}mx-#{$i} { margin-left: $value; margin-right: $value; }
    .#{$prefix}my-#{$i} { margin-top: $value; margin-bottom: $value; }

    .#{$prefix}p-#{$i}  { padding: $value }
    .#{$prefix}pt-#{$i} { padding-top: $value }
    .#{$prefix}pr-#{$i} { padding-right: $value }
    .#{$prefix}pb-#{$i} { padding-bottom: $value }
    .#{$prefix}pl-#{$i} { padding-left: $value }
    .#{$prefix}px-#{$i} { padding-left: $value; padding-right: $value; }
    .#{$prefix}py-#{$i} { padding-top: $value; padding-bottom: $value; }
  }
}

@include spacing();

@each $prefix, $query in $breakpoints {
  @media ($query) {
    @include spacing($prefix);
  }
}

.m-auto  {
  margin: auto
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}